#header-home{
    position: relative;
    width: 100%;
    margin-bottom: 10px;
}
#header-home .nav ul{
    padding: 0;
    margin: 0;
    margin-top: 10px;
    display: inline-block; 
}
#header-home .nav ul li{
    list-style: none;
    display: inline-block;
    margin: 20px;
}
#header-home .nav ul li a{
    color: blue;
    font-size: 18px;
    padding: 8px 12px;
    transition: 3s;
}
#header-home .nav ul li a:hover{
    border-top: 2px solid;
    text-decoration: none;
}
#header-home .hero{
    position: relative;
    width: 100%;
    height: 1000px;
    background: url("../img/call-center-1015274_960_720.jpg")no-repeat;
    background-size: 100%;
    margin-bottom: 1px;   
}
.titulo{
    text-align: center;
    color: blue;
} 
.h1{
    text-align: center;
    color: blue;
}
#main p{
    text-align: center;
    font-size: 20px;
}
#main .section2 .section3{
    padding: 5px;
    margin: 5px;
}
#footer{
    background: blue;
}
.icono a{
    
    float: left;
}
#footer h1 h3{
   
   color: white;
}
.container-log .row-log{
    padding: 20px;
    margin-top: 40px;
}
.container-log .row-log h1{
    color: blue;
    font-size: 40px;
}
/* .container-log .row-log p{
    color: orangered;
    font-size: 20px;
} */
.container-log .hpanel{
    padding: 5px;
    margin-top: 20px;
    margin-left: 320px;
    width: 95%;
    background: rgb(245, 245, 248);
    justify-content: flex-end;
}
